body {
    background-color: #394a51;
    color: #dfd3c3;
    text-align: center;
    font-family: avenir,'avenir next', helvetica, arial, sans-serif;
};



.container{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.container .library-button {
    background-color: #dfd3c3; 
    border: none;
    border-radius: 4px;
    color: #394a51; 
    cursor: pointer;
    text-align: center;
    font-family: avenir,'avenir next', helvetica, arial, sans-serif;
    font-size: 16px;
}
.container .library-button:hover {
    background-color: #394a51;
    color: #dfd3c3; 
}
img {
    height: 24px;
    width: 24px;
}